*{
    padding: 0;
    margin: 0;
}

/*Header*/
.header {
    padding: 22px 0;   
}
.header_logo {
    max-width: 1200px; 
    margin: auto; 
    display: flex; 
    justify-content: space-between; 
    padding: 0 20px 0 22px; 
    box-sizing: border-box;
}
.header_list{
    list-style: none; 
    display: flex
}
.header_item{
    margin-left: 32px;
}
.header_link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;                          
    text-decoration: none;
    color: #1B1A1A;
}
.header_link_dark{
    padding: 11px 20px; 
    background: #1B1A1A;
    border-radius: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;                
    color: #FFFFFF;
    text-decoration: none;
}
/*Hero*/
.hero {
    padding: 137px 0 128px; 
    background-color: #ECE7E4; 
    position: relative;
}
.hero_div {
    max-width: 1240px; 
    margin: auto;
}
.hero_title_text {
    margin-bottom: 20px; 
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;        
        letter-spacing: 2px;
        text-transform: uppercase;        
        color: #645C55;
}
.hero_title {
    margin-bottom: 18px; 
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 70px;        
        color: #1B1A1A;
}
.hero_text {max-width: 509px; 
    margin-bottom: 41px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;        
    letter-spacing: 0.4px;       
    color: #1B1A1A;}
.hero_link {
    text-decoration: none; 
    margin-left: 25px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;        
    letter-spacing: 0.4px;        
    color: #1B1A1A; 
}
.hero_img {
    position: absolute; 
    right: 0; 
    top: 0; 
    width: 50%; 
    height: 100%; 
    background-image: url(../img/IMAGE.jpg); 
    background-size: cover;
}

/*firm*/
.firm{
    padding: 100px 0;
    max-width: 768px;
    margin: auto;
}
.firm_div{
    display: flex;
    justify-content: space-between; 
    max-width: 768px;   
}
.firm_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}
.firm_text_p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom: 10px;
}
.firm_img{
    display: flex;
    align-items: center;    
}
.firm_img_text{
    margin-left: 30px;
}
.firm_img_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}
.firm_img_p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}

/*reading_house*/
.reading_house{
    min-height: 600px;
    background-image: url(../img/reading_house.jpg);
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;    
}
.description{
    max-width: 285px;
}
.description_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.description_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;  
    color: #645C55;
}


/*about*/
.about{
    padding: 100px 0;
}
.about_div{
    max-width: 1168px; 
    margin: auto; 
    justify-content: space-between;
}
.about_div_title{
    margin-bottom: 13px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;        
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;        
    color: #645C55;    
}
.about_div_text{
    margin-bottom: 40px; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;        
    text-align: center;        
    color: #1B1A1A;
}
.about_list{
    display: flex; 
    justify-content: space-between; 
    max-width: 1200px; 
    padding: 0 63px 0 58px;
}
.about_list_article{
    max-width: 378px; 
    text-align:center;
}
.about_list_img{
    margin-bottom: 15px;
}
.about_list_title{
    font-family: 'Poppins'; 
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;                
    text-align: center;                
    color: #403E3B;
}
.about_list_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;                
    text-align: center;                
    color: #645C55;
}
.about_list img{
    max-width: 117px;
    display: inline-block;
}
.owl-carousel .owl-item img{
    display: inline-block;
}
.owl-carousel .owl-drag .owl-item{
    display: flex;
    justify-content: center;
}

/*marble*/
.marble{
    min-height: 600px;
    background-image: url(../img/marble.jpg);
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
}
.marble_description{
    max-width: 285px;
}
.marble_description_title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #403E3B;
}
.marble_description_text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #645C55;
}


/*happy*/
.happy{
    background: #403E3B;
    border-radius: 0px;
    padding: 100px 0;    
    margin: auto;
}
.happy_div, .happy_img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.happy_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4;
}
.happy_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.happy_title_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #ECE7E4;
}
.happy_img_one{
    margin-left: 181px;
}
.happy_img_two{
    margin-left: 96px;
}
.happy_item:first-child{
    margin-bottom: 128px;
}
.happy_item_two:first-child{
    margin-bottom: 96px;
}
.happy_list{
    list-style: none;     
}

/*swirling*/
.swirling{
    min-height: 600px;
    background-image: url(../img/swirling.jpg);
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 60px;
}
.swirling_description{
    max-width: 285px;
}
.swirling_description_title{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
color: #403E3B;
}
.swirling_description_text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #645C55;
}

/*projects*/
.projects{
    padding: 113px 0 111px;
    background-color: #F7F7F7;    
}
.container{
    max-width: 1168px;
    margin: auto;
}
.projects h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
    margin-bottom: 15px;
}
.projects_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
    margin-bottom: 44px;
}
.projects_p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.4px;
color: #1B1A1A;
margin-top: 51px;
margin-bottom: 0;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects article{
    max-width: 375px;
    position: relative;
}
.projects article img{
    width: 100%;
}
.projects .describe{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
.projects .describe h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #403E3B;
    width: 100%;
}
.projects .describe h4 span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    display: block;
}
.projects .describe a{
    background: #1B1A1A;
    border-radius: 14px;
    padding: 11px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;
}


/*meet*/
.meet{
    padding: 100px 0;
    max-width: 1168px;  
    margin: auto;    
}
.meet_div{
    display: flex;
    justify-content: space-between;  
      
}
.meet_text{
    padding-right: 16px;
}
.meet_text_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
    margin-bottom: 14px;
}
.meet_text_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
    margin-bottom: 30px;
}
.meet_text_link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
    margin-left: 5px;
}
.meet_img_div{
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}
.meet_img_div_text{
    margin-left: 30px;
}
.meet_img_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}
.meet_img_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}

/*get*/
.get{
    padding: 100px 0; 
    background: #CEC4BC; 
}
.get_div{
    max-width: 1168px;
    display: flex; 
    justify-content: space-between;
    margin: auto;
}
.get_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;    
    letter-spacing: 2px;
    text-transform: uppercase;    
    color: #645C55;
}
.get_text_two{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;    
    color: #1B1A1A;
}
.get_text_three{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    letter-spacing: 0.4px;    
    color: #1B1A1A;    
}



/*footer*/
.footer{
    padding: 60px 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: flex-end;
    max-width: 1168px;
    margin: auto;
}
.footer_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;        
    color: #645C55;
}
.footer_text_two{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;        
    color: #645C55;    
}
.footer_list{
    list-style: none; 
    display: flex;
}
.footer_item{
    margin-right: 20px;
}